# Firebase Configuration
VITE_FIREBASE_API_KEY="your-api-key"
VITE_FIREBASE_AUTH_DOMAIN="your-project.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="your-project-id"
VITE_FIREBASE_STORAGE_BUCKET="your-project.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
VITE_FIREBASE_APP_ID="your-app-id"


#   apiKey: "AIzaSyDjardq27jVqZUjHgzcunW4c91V5wz78BU",
#   authDomain: "tnmc-fairshare.firebaseapp.com",
#   projectId: "tnmc-fairshare",
#   storageBucket: "tnmc-fairshare.firebasestorage.app",
#   messagingSenderId: "726025137015",
#   appId: "1:726025137015:web:229ce6154e7fd81a354f72"